  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .content-placeholder {
    /* padding: 20px; */
    transform-origin: top center;
  }
  
  header {
    background: #6415ff;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    /* height: 43px; */
    margin-top: 20px;
  }
  
  .word {
    height: 18px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 8px;
    background: #0055ff;
    display: inline-block;
  }
  
  .paragraph {
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  section {
    overflow: hidden;
    border-radius: 10px;
  }
  
  @media (max-width: 600px) {
    .content-placeholder {
      padding-left: 20px;
      border-radius: 10px;
    }
  
    .header .word {
      height: 30px;
    }
  
    .word {
      height: 14px;
      margin-bottom: 5px;
      margin-right: 5px;
    }
  
    .paragraph {
      margin-bottom: 20px;
    }
  }